html {
	padding-top: 35px;
	background-color: #d00;
	// background-color: #e13838;
}
body {
    font-family: sans-serif;
	font-size: 12px;
	$bg_body: "../img/bg/bg_before.png";
//	$bg_body: "../img/bg/bg_after.png";
	background: url($bg_body) no-repeat center top;
	background-size: 100% auto;
}
a {
	text-decoration: none;
}

