@import "compass/reset";
@import "base";
@import "sprite";

// list
.posts {
	.post {
		margin: 5px;
		background: rgba(0,0,0,0.5);
		color: #fff;
		a {
			color: #fff;
		}
	}
	.hd {
		position: relative;
		padding: 10px;
	}
	.bd {
		height: 0;
		overflow: hidden;
	}
	// 選択されたら開く
	.selected .bd {
		height: 100%;
	}

	// タイトルのクリック領域
	.ttl-area {
		display: block;
	}
	.ttl {
		margin-bottom: 15px;
		font-size: 20px;
		line-height: 1.3;
	}
	.date {
		font-size: 10px;
		color: #ccc;
	}

	// シェア・リブログ・ライクボタン
	.tool {
		position: absolute;
		bottom: 10px;
		right: 10px;
		li {
			display: inline-block;
			margin-left: 5px;
		}
	}

	// コンテンツ
	.desc {
		padding: 10px;
		font-size: 15px;
        font-weight: normal;
		line-height: 1.6;
        //img
        img {
            max-width: 100%;
            height: auto;
        }
	}

	// 閉じる
	.close {
		a {
			display: block;
			padding: 13px 5px;
            background: rgba(0,0,0,0.3);
			text-align: center;
		}
	}
}

// tumblr style
.authorInfo {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid rgba(0,0,0,0.3);
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	p {
		float: left;
		margin-right: 10px;
		img {
			width: 140px;
		}
	}
	ul {
		overflow: hidden;
		font-size: 10px;
		line-height: 2;
	}
}
